* {
  margin: 0;
  padding: 0;
}
body, html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

}
.parallax1{
  position: ;
  background-image: url('../photos/parallax1.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
    background-color: #333333;
    overflow: hidden;
    height: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.menuLeft{
  float: left;
  padding-left: 40px;

}

.menuRight{
  float:right;
  padding-right: 40px;

}
.clearfixR{
  clear: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li{
  display: inline-block;
}

li a, .menuLeft a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: all .2s ease-in-out;

}

#myLogo span{
  position: relative;
  top: -10px;
  left: 10px;
}

li a:hover {

  transform: scale(1.2,1.2); /* Standard syntax */
}
.armine{
  background-color: hsla(0, 0%, 0%, 0.3);
  width: 80%;
  height: 90%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 40px;
}
.grid-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 40% auto;
}
.image{
  margin-left: 20%;
  width:250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('../photos/profilePic.png');
  background-size: cover;
  border: 10px solid white;

}
.homePage h4{
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}
.homePage h1{
  margin-top: 20px;
  color: #fff;
  font-size: 36px;
}

.homePageContent p{
  width:60%;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}
.parallax2{
   background-image: url('../photos/parallax2.jpg');
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
section {
  width : 90%;
  color: #fff;
  margin-top: 50px;
  margin: 0 auto;
  height: auto;
  
  font-size:36px;
  background-color: hsla(0, 0%, 0%, 0.3);
}
